src/main/mule/crud/users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="get_list_users" doc:id="d7ba7977-0ce3-4632-820c-d8dc79ed96a7" >
		<db:select doc:name="Select users" doc:id="14960202-74a2-4881-8976-c0d70bf92bec" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from users
where (:nome is null or nome like concat("%", :nome, "%"))
and (:cognome is null or cognome like concat("%", :cognome, "%"))]]></db:sql>
			<db:input-parameters ><![CDATA[#[{nome: attributes.queryParams.nome, cognome: attributes.queryParams.cognome}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="372a0a28-8339-4bf8-9492-16ae0a4a56bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get_details_user" doc:id="641170a2-20d0-4c57-a1de-3494dec5f670" >
		<db:select doc:name="Select user" doc:id="0a3eb958-5ec4-4f26-91b1-9086d04b88a6" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from users
where id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{id: vars.id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="0c7522be-e72e-4c60-a21f-f745c2cdad9c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete_user" doc:id="40647654-db28-41f4-8b81-d8561ac8708e" >
		<try doc:name="Try" doc:id="c20b7aa3-994f-428d-88c9-05f4bda8f0a9" >
			<validation:is-number numberType="INTEGER" doc:id="498497b0-23a5-4b5f-911c-ff39e1faa4a3" value="#[vars.id]" message="Identificativo non valido"/>
			<db:delete doc:name="Delete user" doc:id="1f22d1c1-2f66-4831-a8fb-a87ccb9e96e7" config-ref="Database_Config">
				<db:sql ><![CDATA[DELETE FROM users WHERE id = :id]]></db:sql>
				<db:input-parameters ><![CDATA[#[{id: vars.id}]]]></db:input-parameters>
			</db:delete>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3341e1a7-8898-4a50-a82e-279e63429209" >
					<ee:transform doc:name="Transform Message" doc:id="010dc135-2534-4dcc-9401-a9ba87e08ef3" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Identificativo non valido"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>
	<flow name="create_user" doc:id="0051b117-13e8-4398-a8c3-05b798706cd9" >
		<db:insert doc:name="Insert user" doc:id="5f7f57a4-657a-4ba2-9a1f-3034accfe82e" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO users(nome, cognome, mail, indirizzo)
VALUES (:nome, :cognome, :mail, :indirizzo)]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="3472ccb0-01f8-430b-be84-ca9d5df53a4a" message="#[payload]"/>
	</flow>
	<flow name="update_user" doc:id="358fc5fb-19bc-492b-ac80-03ea397e87a9" >
		<db:update doc:name="Update" doc:id="2d9c8fd4-fa64-488e-95bb-7f42df5fe1ff" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE users 
SET nome = : nome, cognome = :cognome, mail = :mail, indirizzo = :indirizzo
WHERE (id = :id)]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:update>
	</flow>
	<flow name="patch_user" doc:id="a7d95524-3605-4699-b4f8-da3b05fcde30" >
		<set-variable value="#[payload.id]" doc:name="id" doc:id="6c1f9400-f81e-45e8-9d8d-dea56a4579eb" variableName="id"/>
		<ee:transform doc:name="Transform Message" doc:id="25e680ec-81ac-4587-b583-13c900016e26" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload - "id"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="073e4445-2ad6-47f8-9a85-ceac4206a9f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="db" ><![CDATA[%dw 2.0
output application/json
import modules::user
---

"Query" : "update users set " ++ 
	user::query(payload) ++ 
	" where id = " ++ vars.id
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:update doc:name="Patch user" doc:id="49ab1950-4d57-4ae4-8404-56dec07b355c" config-ref="Database_Config">
			<db:sql ><![CDATA[#[vars.db.Query]]]></db:sql>
		</db:update>
	</flow>
	<flow name="create_users" doc:id="658cd8d7-9401-4b1f-97b6-7c759923a91e" >
		<foreach doc:name="For Each" doc:id="0ccd8fe5-50b6-4743-aca3-1e4e71695eae" >
			<db:insert doc:name="Insert users" doc:id="3a6b39f5-b2ad-49e8-a969-503b2b74b23b" config-ref="Database_Config">
				<db:sql ><![CDATA[INSERT INTO users(nome, cognome, mail, indirizzo)
VALUES (:nome, :cognome, :mail, :indirizzo)]]></db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
		</foreach>
	</flow>
</mule>
